body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li {
  list-style: none;
}

.active {
  background-color: #adebad ;
  /*color:  #0f3e0f;*/

}


.button-wrapper {
  padding: 0 10px;
  background-color: aqua;
}

.button-delete {
  /*display: none;*/
}

.checked {
  color: red;
  text-decoration: line-through;
}